<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <header>
        <h1>Monster Slayer</h1>
    </header>
    <div id="game">
        <section id="monster" class="container">
            <h2>طاقة الوحش</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="{width: monsterHealth + '%'}"></div>
            </div>
        </section>
        <section id="player" class="container">
            <h2>طاقتك</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="{width: playerHealth + '%'}"></div>
            </div>
        </section>
        <div class="game_over" v-if="winner">
            <section class="container game_over">
                <h2>انتهت اللعبه!</h2>
                <h3 v-if="winner === 'الوحش'">
                    لقد <span style="color: red"> هزمت!</span> من الوحش
                </h3>
                <h3 v-else-if="winner === 'انت'">
                    لقد <span style="color: #00a876"> فزت!</span> علي الوحش
                </h3>
                <h3 v-else="winner === 'تعادل'">
                    لقد <span style="color: #7700ff">تعادلت</span> مع الوحش
                </h3>
                <section id="log" class="container">
                    <h2>سجل اللعب</h2>
                    <ul>
                        <li v-for="logV in log">
                            <span :class="logV.whoAttack">{{logV.whoAttack}}</span> {{logV.whatHappen}} بمستوي طاقه:
                            <span class="val"> {{logV.whatVal}} </span>
                        </li>
                    </ul>
                </section>
                <button @click="reloadPage">اعادة اللعب</button>
            </section>
        </div>
        <section id="controls">
            <button @click="attackMonster">هجوم</button>
            <button :disabled="currentRound % 3" @click="spicalAttackMonster">
          هجوم معزز
        </button>
            <button @click="healPlayer">اعادة تعبية الطاقه</button>
        </section>
    </div>
</body>

</html>