<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <header>
        <h1>Monster Slayer</h1>
    </header>
    <div id="game">
        <section id="monster" class="container">
            <h2>Monster Health</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="{width: monsterHealth + '%'}"></div>
            </div>
        </section>
        <section id="player" class="container">
            <h2>Your Health</h2>
            <div class="healthbar">
                <div class="healthbar__value" :style="{width: playerHealth + '%'}"></div>
            </div>
        </section>
        <div class="game_over" v-if="winner">
            <section class="container game_over">
                <h2>Game Over!</h2>
                <h3 v-if="winner === 'monster'">
                    You <span style="color: red"> Lost!</span>
                </h3>
                <h3 v-else-if="winner === 'player'">
                    You <span style="color: #00a876"> Won!</span>
                </h3>
                <h3 v-else="winner === 'draw'">
                    it's a <span style="color: #7700ff">Draw</span>
                </h3>
                <section id="log" class="container">
                    <h2>Battle Log</h2>
                    <ul>
                        <li v-for="logV in log">
                            <span :class="logV.whoAttack">{{logV.whoAttack}}</span> {{logV.whatHappen}} by Value:
                            <span class="val"> {{logV.whatVal}} </span>
                        </li>
                    </ul>
                </section>
                <button @click="reloadPage">RePlay</button>
            </section>
        </div>
        <section id="controls">
            <button @click="attackMonster">ATTACK</button>
            <button :disabled="currentRound % 3" @click="spicalAttackMonster">
          SPECIAL ATTACK
        </button>
            <button @click="healPlayer">HEAL</button>
            <button>SURRENDER</button>
        </section>
    </div>
</body>

</html>